telegraf_plugins_snmp:
{% for item in csvfilesnmp.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - plugin: snmp
    modelo: "{{ list[0]|trim() }}"
    url:
      - agents = [  "{{ list[1]|trim() }}":161  ]
      - community = "{{ list[1]|trim() }}"

{%   endif %}
{% endfor %}

