
  dbrps:
   - {db: "test", rp: "dia"}
  template-id: "basic_template"
  vars: {
    "measurement": {"type" : "string", "value" : "system" },
    "where_filter": {"type": "lambda", "value": "\"host\" == '{{item[0].nombre}}'"},
    "field": {"type" : "string", "value" : "{{item[1]}}" },
{% if item[1] == "load1"%}
    "warn": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load1.warn}}'" },
    "crit": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load1.crit}}'" },
{% endif %}
{% if item[1] == "load5"%}
    "warn": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load5.warn}}'" },
    "crit": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load5.crit}}'" },
{% endif %}
{% if item[1] == "load15"%}
    "warn": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load15.warn}}'" },
    "crit": {"type" : "lambda", "value" : "\"mean\" < '{{item[0].measurement.load15.crit}}'" },
{% endif %}
    "warnin": {"type" : "string", "value" : "20" },
    "criti": {"type" : "string", "value" : "10" },
    "window": {"type" : "duration", "value" : "30m" },
    "slack_channel": {"type" : "string", "value" : "#test" }
  }

