############## SNMP
{% if item.url is defined and item.modelo is defined %}


    [[inputs.{{ item.plugin }}]]
      agents = [  "{{ item.url }}:161"  ]
      community = "{{ item.community }}"
      version = 2
      interval = "60s"
      timeout = "15s"
      retries = 3
        [inputs.snmp.tags]
    nombre = "{{item.modelo}}"
       [[inputs.snmp.field]]
    name = "hostname"
    oid = "SNMPv2-MIB::sysName.0"
    is_tag = true

  [[inputs.snmp.field]]
    name = "uptime"
    oid = "DISMAN-EVENT-MIB::sysUpTimeInstance"

  # IF-MIB::ifTable contains counters on input and output traffic as well as errors and discards.
  [[inputs.snmp.table]]
    name = "interface"
    inherit_tags = [ "hostname" ]
    oid = "IF-MIB::ifTable"

    # Interface tag - used to identify interface in metrics database
    [[inputs.snmp.table.field]]
      name = "ifDescr"
      oid = "IF-MIB::ifDescr"
      is_tag = true

  # IF-MIB::ifXTable contains newer High Capacity (HC) counters that do not overflow as fast for a few of the ifTable counters
  [[inputs.snmp.table]]
    name = "interface"
    inherit_tags = [ "hostname" ]
    oid = "IF-MIB::ifXTable"

    # Interface tag - used to identify interface in metrics database
    [[inputs.snmp.table.field]]
      name = "ifDescr"
      oid = "IF-MIB::ifDescr"
      is_tag = true

  # EtherLike-MIB::dot3StatsTable contains detailed ethernet-level information about what kind of errors have been logged on an interface (such as FCS error, frame too long, etc)
  [[inputs.snmp.table]]
    name = "interface"
    inherit_tags = [ "hostname" ]
    oid = "EtherLike-MIB::dot3StatsTable"
    # Interface tag - used to identify interface in metrics database
    [[inputs.snmp.table.field]]
      name = "ifDescr"
      oid = "IF-MIB::ifDescr"
      is_tag = true

    {% if item.modelo == "mikrotik"%}
     [[inputs.snmp.table]]
        name = "mtxrHealth"
        inherit_tags = [ "nombre" ]
     [[inputs.snmp.table.field]]
        name= "voltage"
        oid = ".1.3.6.1.4.1.14988.1.1.3.8"
     [[inputs.snmp.table.field]]
        name= "temperature"
        oid = ".1.3.6.1.4.1.14988.1.1.3.10"
     [[inputs.snmp.table.field]]
        name= "cpu-frecuency"
        oid = ".1.3.6.1.4.1.14988.1.1.3.14"
     [[inputs.snmp.table.field]]
        name= "versionSoftware"
        oid = ".1.3.6.1.4.1.14988.1.1.17.1.1.4"

     [[inputs.snmp.table]]
        name = "hrStorage-MIKROTIK"
        inherit_tags = [ "nombre" ]
        oid="1.3.6.1.2.1.25.2.3"
    [[inputs.snmp.table.field]]
      name = "hrStorageDescr"
      oid = ".1.3.6.1.2.1.25.2.3.1.3"
      is_tag = true

  [[inputs.snmp.table]]
    name = "mtxrInterfaceStatsTable"
    oid = ".1.3.6.1.4.1.14988.1.1.14.1"
    inherit_tags = [ "nombre" ]


  [[inputs.snmp.table]]
    name = "mtxrWlApTable"
    inherit_tags = [ "nombre" ]
    oid = ".1.3.6.1.4.1.14988.1.1.1.3"

 [[inputs.snmp.table]]
    name = "mtxrWlRtabTable"
    inherit_tags = [ "nombre" ]
    oid = ".1.3.6.1.4.1.14988.1.1.1.2"

    {%endif %}

{% endif %}
